.key-features {
    min-height: 70vh;
    margin: auto;
    padding: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 4rem;

    @media (min-width: 768px) {
        flex-direction: row;
        width: 70vw;
        min-height: 100vh;
    }

    .pic-frame {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .feature-card {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
        cursor: pointer;

        .feature-img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            scale: 1.1;
        }


        .feature-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            padding: 1rem;
            transform: translateY(100%);
            transition: transform 0.3s ease;
        }

        &:hover {
            .feature-info {
                transform: translateY(0);
            }
        }
    }
}

.title {
    color: #030391;
}