.screen {
    min-height: 100vh;
    margin: auto;
    padding: 50px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .mySwiper {
        width: 300px;
        max-width: 90%;
        height: 500px;
        margin: auto;

        .swiper-slide {
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: #333;
        }
    }
}

.title {
    color: #030391;
}