.screen {
    min-height: 100vh;
    margin: auto;
    padding: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4FC3F7;

    .mySwiper {
        width: fit-content;
        max-width: 45vw;
        height: 55vh;
        margin: auto;
        overflow: hidden;

        @media (min-width: 768px) {
            max-width: 16vw;
            height: 70vh;
        }

        .swiper-slide {
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-size: 1.5rem;
            color: #333;
        }

        .screenshot {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
            display: block;
        }
    }

    .figma {
        width: 30px;
        height: 30px;
    }
}

.title {
    color: #030391;
}