.team-section {
    min-height: 50vh;
    margin: auto;
    padding: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    .title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        font-size: 1.1rem;
        color: #616161;
        margin-top: 3rem;
    }

    .team-grid {
        margin: auto;
        margin-top: 3rem;
        width: 50vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 2rem;
        justify-items: center;

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .team-card {
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
            width: 250px;
            text-align: center;

            .team-name {
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 0.25rem;
            }

            .team-role {
                color: #616161;
                font-size: 0.95rem;
            }
        }
    }

    .team-links {
        display: flex;
        justify-content: center;
        gap: 2rem;

        a {
            display: inline-block;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.2);
            }

            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}