.technology {
    min-height: 30vh;
    margin: auto;
    padding: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    .carousel-wrapper {
        position: relative;
        overflow: hidden;
        width: 70vw;
        margin: auto;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 60px;
            height: 100%;
            z-index: 2;
            pointer-events: none;
        }

        &::before {
            left: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }
    }

    .carousel-track {
        display: flex;
        width: max-content;
        animation: scroll 15s linear infinite;
    }

    .carousel-slide {
        flex: 0 0 auto;
        width: 400px;
        height: 100px;
        margin-right: 20px;
        background-color: #fff;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;

        img {
            height: 50%;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

.title {
    color: #030391;
    margin-bottom: 2rem;
}

.react {
    color: #61DAFB;
}

.spring-boot {
    color: #6DB33F;
}